.balance {
  width: 220px;
  display: inline-block;
  padding: 0.5rem;
  box-shadow: 0 0 2px black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.balance .left img {
  height: 40px;
  width: 40px;
}

.balance h6 {
  font-weight: 600;
  color: rgb(30, 6, 52);
  margin: 0;
}
.balance .right p {
  color: green;
  margin: 0;
}
