:root {
  font-family: "Lato", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;

  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.app {
  display: flex;
  flex-wrap: wrap;
}

/*side bar */

.sidebar {
  width: 180px;
  height: 100vh;
  border-right: 0.1px solid rgba(0, 0, 0, 0.105);
}
.sidebar-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sidebar-header .sidebar-logo {
  margin-top: 1rem;
}
.sidebar-header .sidebar-logo img {
  width: 9rem;
  height: 7rem;
}
.sidebar .sidebar-header .btns {
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sidebar .sidebar-header .btns button {
  display: flex;
  text-align: start;
  margin-bottom: 20px;
  border: none;
}
.sidebar .sidebar-header .btns button span {
  margin: 0 2px;
}

.sidebar .sidebar-header .btns .loads {
  color: white;
  background-color: #161845;
}
.sidebar .sidebar-header .btns .statement {
  opacity: 0.6;
}
.sidebar .logout {
  position: absolute;

  bottom: 5%;
}
.sidebar .logout button {
  background-color: white;
  display: flex;
  width: 100%;
  border: none;
}
/* main page */
.select-options {
  flex-grow: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.select {
  align-self: flex-end;
}
.select-options .balance {
  margin-top: 2.5rem;
}

.select-options .logout {
  text-align: right;
  display: none;
}
.select-options .logout button {
  display: flex;
  border: none;
}

@media (max-width: 800px) {
  .app {
    width: 100vw;
  }
  .sidebar {
    width: 100vw;
    height: 120px;
    border-bottom: 1px solid black;
    border-right: 0px;
  }
  .sidebar-header {
    padding: 0.7rem 0 0.7rem 0.7rem;
    flex-direction: row;
  }
  .sidebar-header .sidebar-logo {
    margin-top: 0.5rem;
  }
  .sidebar-header .sidebar-logo img {
    width: 8rem;
    height: 6rem;
  }
  .sidebar .sidebar-header .btns {
    margin-top: 0;
    padding-left: 50px;
  }
  .sidebar .sidebar-header .btns button {
    margin-bottom: 0.1rem;
  }

  .sidebar .logout {
    display: none;
  }

  .select-options {
    width: 100vw;
  }
  .select-options .balance {
    margin-top: 1rem;
    align-self: center;
  }

  .table tbody td {
    padding: 0 0.1px;
    line-height: 40px;
  }
  .select {
    margin: 2rem 1rem;
    width: 350px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-self: flex-start;
  }
  .select select {
    flex-grow: 0;
    width: 150px;
  }
  .table-container .table thead {
    display: none;
  }
  .table-container .table tbody tr,
  .table td {
    display: block;
    width: 100%;
  }
  .table tr {
    margin-bottom: 3rem;
  }
  .table tbody tr td {
    text-align: right;
    padding-left: 50%;
    position: relative;
  }
  .table td:before {
    content: attr(data-label);
    position: absolute;
    left: 0%;
    width: 50%;
    padding-left: 10px;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
  }
  .select-options .logout {
    display: block;
    align-items: start;
  }
}
